body{
  width: 1024px;
  font-family: sans-serif;
margin-left: auto;
margin-right: auto;
}

  .container {
    display: grid;
    grid-gap: 1px;
	background-color: #ffffff;
    grid-template-columns: repeat(6, [col] auto) ;
    grid-template-rows: repeat(3, [row] auto);  
  }

  .group {
    background-color: #466d6d;
    color: #d1d1e0;
    padding: 20px;  
  }

  .group .group {
    background-color: #e0ebeb;
    color: #434;
  }

  .site-name {
    grid-column: col 1;
    grid-row: row 1;
  }

  .nav-list {
    grid-column: col 2 / span 4;
    grid-row: row 1;
  }

  .login {
    grid-column: col 6;
    grid-row: row 1;
  }

  .article {
    grid-column: col / span 4;
    grid-row: row 2;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

   .article1 {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .article2 {
    grid-column: 1 ;
    grid-row: 2;
  }
  
  .article3 {
    grid-column: 2;
    grid-row: 2;
  }
  
  .side-content{
    grid-column: col 5 / span 2;
    grid-row: row 2;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: auto;
  }
  
  .side-content-1 {
    grid-column: 1;
    grid-row: 1;
  }
  
  .footer{
    grid-column: col / span 6;
    grid-row: row 3;
  }
   
  .list li
        {
          display: inline;
		  padding: 30px;
        }
		
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}


/* loging style */
  
  .login {
    grid-column: col 6;
    grid-row: row 1;
  }

  .form {
    grid-column: col / span 6;
    grid-row: row 2;
    text-align: center;
  }